<div class="login-container">
  <div class="login-box">
   <!-- <img src="assets/images/OIP.jpg" alt="Chainsys Logo" class="logo" /> -->

    <h2>Employee Login</h2>
    <form (ngSubmit)="login()">
      <input type="text" placeholder="Employee ID" [(ngModel)]="empId" name="empId" class="form-control" required />

      <div class="space-between"></div>

      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" class="form-control" required />

      <div class="space-between-large"></div>

      <button type="submit" class="form-button">Login</button>
      <div *ngIf="loginError" class="error-message">{{ loginError }}</div>

    </form>
  </div>
</div>
